@import "@/app/globals.css";

.docs-layout {
    font-family: var(--font-geist-sans);
    margin: 180px auto auto auto;
    display: grid;
    grid-template-columns: 25% 75%;
    max-width: 1500px;
}

.docs-nav-button {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14px;
    width: 100%;
}

.docs-nav ul {
    list-style: none;
}

.docs-nav li {
    padding: 6px;
    border-radius: 8px;
    width: 8rem;
    margin: 3px 0;
}

.docs-link-item {
    color: var(--text-tertiary);
    background-color: transparent;
}

.docs-nav li:hover, .active-docs-link {
    background-color: var(--button-secondary-hover);
    color: var(--text-primary);
}

.docs-nav h6 {
    padding: 6px;
    font-weight: normal;
}

.docs-page {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
}

.docs-page-content {
    max-width: 800px;
}

.docs-page-content h3 {
    margin: 4rem auto 1rem auto;
}

.docs-page-content h4 {
    margin: 2rem auto;
}

.docs-page-content a {
    color: var(--text-primary);
}

.docs-page-content ul {
    list-style: circle;
}

.docs-page-content ol, .docs-page-content ul {
    padding-left: 1rem;
}

.docs-page-content li {
    color: var(--text-tertiary);
    margin: 1rem auto;
}

.docs-page-explore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
}

.docs-page-explore h6 {
    color: var(--text-tertiary);
    font-weight: normal;
}

.docs-page-toc ul {
    padding-left: 1rem;
    list-style: none;
}

.docs-page-toc li {
    color: var(--text-tertiary);
    margin: 1rem 0;
}

.docs-page-toc h5 {
    color: var(--text-primary);
}

table {
    width: 100%;
    border-spacing: 0;
}

table thead th:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

table thead th:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

thead th {
    background-color: var(--background-tertiary);
}

th {
    padding: 0.5rem;
}

table code {
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid var(--button-secondary-border);
}

tbody tr td {
    padding: 1rem 0.5rem;
}

@media (max-width: 430px) {
    .docs-layout {
        display: block;
        max-width: 90%;
    }
    .docs-nav {
        display: none;
    }
}
