.component-info-header {
    text-align: center;
}

.component-info-header h2 {
    margin: 1rem auto;
    max-width: 50%;
}

.component-info-header p {
    margin: 0 auto;
    max-width: 40%;
}

.component-style-info-content {
    margin: 3rem auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 5%;
}

.component-theme-info {
    margin-top: 10rem;
}

.component-theme-info-content {
    margin-top: 3rem;
}

.component-theme-info-components {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

@media (max-width: 900px) {
    .component-style-info-content {
        display: block;
    }
    .component-style-info-content > * {
        margin: 1rem auto;
    }
    .component-info-header h2, .component-info-header p {
        max-width: 70%;
    }
}

@media (max-width: 450px) {
    .component-info-header h2, .component-info-header p {
        max-width: 80%;
    }
}