@import "@/app/globals.css";

.breadcrumbs {
    display: flex;
    gap: 0.5rem;
}

.breadcrumbs h6 {
    text-transform: capitalize;
    font-weight: normal;
}

.crumb, .crumb-active {
    display: flex;
    gap: 0.5rem;
}

.crumb {
    color: var(--text-tertiary);
}

.crumb-active {
    color: var(--text-primary);
}