@import "@/app/globals.css";

.output-container {
    padding: 1rem;
    border: 1px solid var(--button-secondary-border);
    border-radius: 2rem;
    margin: 1rem auto;
}

.output-container-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.output-container-header {
    display: flex;
    justify-content: end;
}