@import "@/app/globals.css";

.output-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--button-secondary-border);
    border-radius: 2rem;
}

.output-container-header {
    display: flex;
    justify-content: end;
}