.popup-example-content {
    text-align: center;
    background-color: var(--background-tertiary);
    padding: 3rem 2rem 0.5rem 2rem;
    border-radius: 2rem;
}

.popup-example-content > * {
    margin: 0.5rem 0;
}

.popup-example-buttons button {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

.popup-example-content h5 {
    font-weight: normal;
}