.home-page {
    max-width: 1000px;
}

.home-page > * {
    margin: 10rem auto;
}

.pnf-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pnf-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pnf-content h4 {
    margin-bottom: 1rem;
}