@import "@/app/globals.css";

.hero {
    text-align: center;
}

.tag {
    background-color: var(--button-secondary-hover);
    padding: 0.5rem 0.75rem;
    width: fit-content;
    margin: 0 auto;
    border-radius: 2rem;
    font-weight: normal;
}

.hero-description {
    max-width: 60%;
    margin: 0 auto;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
}

.components-demo-container {
    margin: 5rem auto;
    display: grid;
    gap: 1rem;
    /* grid-template-areas: 
    "select otp popup"
    "slider accordion popup"
    "tabs accordion skeleton"
    "cookie buttons skeleton"
    "cookie error skeleton"
    ; */
    grid-template-columns: repeat(3, 1fr);
}

.hero-demo-select {
    grid-area: select;
}

.hero-demo-slider {
    grid-area: slider;
}

.hero-demo-tabs {
    grid-area: tabs;
}

.hero-demo-cookie {
    grid-area: cookie;
}

.hero-demo-otp {
    grid-area: otp;
}

.hero-demo-accordion {
    grid-area: accordion;
}

.hero-demo-buttons {
    grid-area: buttons;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-demo-error {
    grid-area: error;
}

.hero-demo-popup {
    grid-area: popup;
}

.hero-demo-skeleton {
    grid-area: skeleton;
}

@media (max-width: 1000px) {
    .components-demo-container {
        grid-template-areas:
        "select accordion"
        "slider accordion"
        "tabs popup"
        "cookie popup"
        "otp skeleton"
        "buttons skeleton"
        "error skeleton"
        ;
    }
}

@media (max-width: 775px) {
    .components-demo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .components-demo-container > * {
        margin-bottom: 1rem;
    }
}