@import "@/app/globals.css";

.tooltip-container {
    position: relative;
}

.tooltip-content {
    position: absolute;
    text-align: center;
    top: 0;
    left: -5px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    z-index: 2;
    background-color: var(--background-tertiary);
}

.top {
    transform: translateY(calc(-100% - 8px));
}

.bottom {
    transform: translateY(calc(100% + 8px));
}

.right {
    transform: translateX(calc(100% + 8px));
}

.left {
    transform: translateX(calc(-100% - 8px));
}