@import "@/app/globals.css";

.logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img {
    height: 50px;
    width: 50px;
    border-radius: 1rem;
}

.logo-container h4 {
    color: var(--text-primary);
}

@media (max-width: 450px) {
    .logo-img {
        height: 40px;
        width: 40px;
        border-radius: 12px;
    }
}